name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - run: npm ci

      - run: npm run all  # build, format, lint, package, test:cov

      - name: Check dist/ is committed
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build:"
            git diff
            exit 1
          fi

      - name: Dogfood coverage action
        uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERAGE_FILE_PATH: "./coverage/cobertura-coverage.xml"
          COVERAGE_FORMAT: "cobertura"
          pr_comment: "true"
